
<P><p>距2018年11月3日17时40分许发生山体滑坡形成金沙江堰塞湖已有7天。
南都记者从甘孜州政府新闻办获悉，截至11月9日12时，金沙江堰塞湖蓄水量已达4亿立方米。
截至11月9日17时，挖掘机在堰塞体上已开挖了条长达210米的导流槽。</P></p>


<P></p><p><img src=\"http://inews.gtimg.com/newsapp_bt/0/6265379069/1000\",></p></P></p>


<p></p>


<P></p>金沙江堰塞湖上游水位持续抬升。来源：甘孜州政府新闻办</P></p>
<P></p>目前，金沙江堰塞湖蓄水量仍在增加，水位仍在上升，堰塞湖上游四川、西藏两岸均受淹没威胁。据甘孜州政府新闻办介绍，截至11月10日11时，白玉县金沙乡境内1处农家乐和一座吊桥被淹，25户群众住房面临淹没威胁，乡政府、乡学校和卫生院面临威胁，52座牧场房不同程度受损，约210亩耕地受损，约140亩退耕还林地受损，约1200亩草场受损，约80公里通村通组路段和牧场便道受损，8000余株果树受损。</P></p>
<P></p><p><img src=\"http://inews.gtimg.com/newsapp_bt/0/6265379070/1000\",></p></P></p>
<P></p>金沙江堰塞湖上游水位持续抬升，河流两岸道路、房屋受淹没威胁。来源：甘孜州政府新闻办</P></p>
<P></p>截至11月10日上午11时，通过投亲靠友、分散安置等方式，四川甘孜州已累计转移群众17307人，包括白玉县5786人、巴塘县3041人、得荣县4354人、德格县116人，以及沿江施工企业4010人。</P></p>
<P></p><p><img src=\"http://inews.gtimg.com/newsapp_bt/0/6265379071/1000\",></p></P></p>

<P></p>金沙江堰塞湖上游水位持续抬升。来源：甘孜州政府新闻办</P></p>

<P></p>据介绍，白玉县金沙乡已组织干部群众150余人，疏导疏散安置群众情绪，
逐村逐户再次排查威胁区域有无滞留人员，并设置了2个水位监测点。截至目前，
甘孜州已储备温暖帐篷6081顶、棉被21591床、棉大衣9310件、棉衣裤1551套、折叠床1000张等救灾物资。</P></p>



<P></p>采写：南都记者 吴铭</P></p>