<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base target="_blank">
    <style>
        .test{
            height: 200px;
            width: 600px;
            background-color: #999;
            border-radius:300px;
        }
        .div2{


        }
        .t{

        }

    </style>

</head>
<body>
<!--<form action="/add" method="get">-->
    <!--<input type="submit">-->
<!--</form>-->
<div class="test">
    <div class="div2">
        <div class="t"></div>
    </div>
</div>
<img src="/public/images/5805dc5d3deddf02045627ee5b73e65c428361.jpg" alt="">
</body>
</html>